@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/hinted-subset-Roboto-Regular.woff2") format("woff2"),
  url("assets/fonts/hinted-subset-Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 100vw;
  height: 100dvh;
  background-color: #e2e8f0;
  font-family: "Roboto";
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #1992d4;
  color: #fff;
  padding: 20px;
}

.icon-container {
  display: grid;
  gap: 8px;
}

.dashboard-icon,
.icon-container > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dashboard-icon > p,
.icon-container > div > p {
  font-weight: 600;
}

.dashboard-icon > p {
  font-size: 1.4rem;
}