@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/hinted-subset-Roboto-Regular.woff2") format("woff2"),
  url("assets/fonts/hinted-subset-Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 100vw;
  height: 100dvh;
  background-color: #e2e8f0;
  font-family: "Roboto";
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #1992d4;
  color: #fff;
  padding: 20px;
}

.icon-container {
  display: grid;
  gap: 12px;
}

.dashboard-icon,
.icon-container > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dashboard-icon > p,
.icon-container > div > p {
  font-weight: 600;
}

.dashboard-icon > p {
  font-size: 1.4rem;
}

.main {
  display: grid;
  grid-template-rows: 150px 1fr;
}

.navbar {
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr 250px;
  gap: 18px;
  padding: 18px;
  background-color: #fff;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.avatar {
  border-radius: 999px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: #e2e8f0;
}

.min-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.min-profile p {
  font-weight: 600;
}

.max-profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.max-profile > div > p:nth-child(2) {
  font-weight: 600;
  font-size: 1.4rem;
}

.action-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.action-btns button {
  border-radius: 10px;
  padding: 8px 20px;
  color: #fff;
  font-weight: 600;
  background: #1992d4;
  border: none;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 250px;
  padding: 32px;
}

.cards-container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 12px;
}

.cards-container > p {
  font-weight: 600;
  font-size: 1.1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px;
}

.card {
  position: relative;
  display: grid;
  gap: 12px;
  border: none;
  border-radius: 16px;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 68);
  height: 100%;
  width: 10px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.card > div:first-child {
  display: grid;
  gap: 6px;
}

.card > div:first-child > p:first-child {
  font-weight: 600;
}
.card > div:first-child > p:last-child {
  font-size: 0.8rem;
  color: #2e2e2e;
}

.card > div:last-child {
  display: flex;
  gap: 12px;
  place-self: end;
}

.right-bar {
  display: grid;
  gap: 32px;
}

.announcements {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 12px;
}

.announcements > p {
  font-weight: 600;
  font-size: 1.1rem;
}

.announcements > div {
  display: grid;
  gap: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
}

.announcements > div > div > p:first-child {
  font-weight: 600;
  padding-bottom: 6px;
}

.announcements > div > div > p:last-child {
  font-size: 0.8rem;
  color: #000000b4;
}

.trending {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 12px;
}

.trending > p { 
  font-weight: 600;
  font-size: 1.1rem;
}

.trending > div {
  display: grid;
  gap: 20px;
  padding: 16px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
}

.trending > div > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.trending > div > div > img {
  border-radius: 999px;
}

.trending > div > div > div > p:last-child {
  color: #000000b4;
}